extends base.pug

block content 
	h2 watch [#{video.title}] video
	ul
		li Rating: #{video.meta.rating}
		li Views: #{video.meta.views}
	a(href=`${video.id}/edit`) -> edit video
	br
	a(href=`${video.id}/delete`) -> delete video